:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --bg-color: #040f1a;
  --dark-red: #2c3e50;
  --light-red: #f5d6a8;
  --light-grey: #EEEEEE;

}

body {
  background-color: var(--bg-color);
  padding: 0;
  margin: 0;
}